test/plugins/org.talend.esb.repository.services.test/resources/client_wsdl/cliente-v1_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.supervielle.com.ar/xsd/Integracion/cliente/altaPersona-v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.supervielle.com.ar/xsd/Integracion/cliente/altaPersona-v1" xmlns:ns1="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1">
  <xsd:import namespace="http://www.supervielle.com.ar/xsd/Integracion/common/commonTypes-v1" schemaLocation="cliente-v1_1_2_3.xsd"/>
  <xsd:complexType name="DataAltaPersonaReqType">
    <xsd:sequence>
      <xsd:element name="aplicacionExterna">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nroSolicitud">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:totalDigits value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="resumenElectronico" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Adicionales">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Adicional">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="empresa">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="codPaquete">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="5"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="modulo">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="3"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="tipoOpe">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="moneda">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="papel">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="prodOpcional">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="impAcuerdo">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:decimal">
                        <xsd:totalDigits value="17"/>
                        <xsd:fractionDigits value="2"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="plazo">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="4"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Personas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Persona">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="identificador" type="ns1:IdClienteType"/>
                  <xsd:element name="InfoPersona">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="tipoPersona">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="canalDistribucion">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="5"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="tipoAlta">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="categoria">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="5"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="apellido1">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="apellido2">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="nombre">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="70"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="nombre2">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="25"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="fechNacimiento" type="xsd:date"/>
                        <xsd:element name="estadoCivil">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="paisNacimiento">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="residente">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="lugarNacimiento">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="20"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="codPaisCiudadania" type="xsd:string"/>
                        <xsd:element name="sexo" type="ns1:idSexoType"/>
                        <xsd:element minOccurs="0" name="empleadoBanco">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="fechIngresoBanco" type="xsd:date"/>
                        <xsd:element minOccurs="0" name="codOcupacion">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="5"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="identificadorAdicional" type="ns1:IdClienteType"/>
                        <xsd:element name="codTitularidad">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                              <xsd:totalDigits value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="titularRepresentativo">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="codNaturalezaJuridica">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="fechConstitucion" type="xsd:date"/>
                        <xsd:element minOccurs="0" name="fechExpiracion" type="xsd:date"/>
                        <xsd:element minOccurs="0" name="tarjetaDebito">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="instFinanciera">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:length value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="cuantaCliente">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="9"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="nombreCuenta">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="35"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="codEjecutivo">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="codSector" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="codActividadEconomica">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="9"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="codClasificacionInterna">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="4"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="codSegmento">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="sucursalOrigenBT">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="proveedor">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="retieneCorrespondencia">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="codClienteCON">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="7"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="usrMovimiento">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="10"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="fechAlta" type="xsd:date"/>
                        <xsd:element minOccurs="0" name="horaEnvio" type="xsd:time"/>
                        <xsd:element minOccurs="0" name="terminal">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="12"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="sucursalOrigenCON">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="3"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="personaExpuesta">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="InfAdicional">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="PAT">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="3"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="nivelEstudio">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="3"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="razonSocialEmp">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="50"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="fechaIngreso" type="xsd:date"/>
                              <xsd:element minOccurs="0" name="ingresoRealMensual">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:decimal">
                                    <xsd:totalDigits value="17"/>
                                    <xsd:fractionDigits value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="codMonotributo">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="codAutonomo">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="prodHabilitado">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="1"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="Domicilios">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="Domicilio">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="calle">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="35"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="numero">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="5"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="dpto">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="15"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="piso">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="6"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="codPais">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="3"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="codLocalidad">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="5"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="codProvincia">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="5"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="cp">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="cpNuevo">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="8"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="telefono">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="20"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="telefono2">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="20"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="e-mail">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="50"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="codDomicilio">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:int">
                                    <xsd:totalDigits value="2"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="SitImpositiva">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="Impuesto">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="codImpuesto" type="xsd:int"/>
                              <xsd:element name="codCondInpuesto" type="xsd:int"/>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="InformacionFinanciera">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="UIF">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="sujetoObligatorio">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:length value="1"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="tipoSujetoObligatorio">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:integer"/>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="presentoDDJJUIF">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:length value="1"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="presentoCertInscrUIF">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:length value="1"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="FATCA">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="dobleCiudadania">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:integer"/>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="Conyugue">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="apellido">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="nombre">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="30"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="codOcupacion">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="9"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="codConyugue">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:int">
                              <xsd:totalDigits value="2"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="identificador" type="ns1:IdClienteType"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataAltaPersonaRespType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Row">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Estado" type="ns1:estadoType"/>
            <xsd:element minOccurs="0" name="Productos">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Cuentas">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" name="IdCuenta" type="ns1:IdCuentaBANTOTALType"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" name="Personas">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element maxOccurs="unbounded" name="Persona">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="Estado" type="ns1:estadoType"/>
                        <xsd:element name="nroSolicitud" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="Identificador" type="ns1:IdClienteType"/>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="titularidad" type="xsd:int"/>
                        <xsd:element minOccurs="0" name="Tarjeta" type="ns1:IdTarjetaType"/>
                        <xsd:element name="titularRepresentativo">
                          <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                              <xsd:maxLength value="1"/>
                            </xsd:restriction>
                          </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="cuentaCliente" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReqAltaPersona">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataAltaPersonaReqType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RespAltaPersona">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Data" type="DataAltaPersonaRespType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>