org.talend.repository.services/resources/wsdl-template.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="${serviceName}"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="${serviceName}OperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="${serviceName}OperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="${serviceName}OperationRequest">
		<wsdl:part name="parameters" element="tns:${serviceName}OperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="${serviceName}OperationResponse">
		<wsdl:part name="parameters" element="tns:${serviceName}OperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="${serviceName}PortType">
		<wsdl:operation name="${serviceName}Operation">
			<wsdl:input message="tns:${serviceName}OperationRequest"></wsdl:input>
			<wsdl:output message="tns:${serviceName}OperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="${serviceName}Binding" type="tns:${serviceName}PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="${serviceName}Operation">
			<soap:operation soapAction="http://www.talend.org/service/${serviceName}Operation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="${serviceName}">
		<wsdl:port name="${serviceName}Port" binding="tns:${serviceName}Binding">
			<soap:address location="http://localhost:8090/services/${serviceName}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>